*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.todo-app{
    background: #fff;
    border-radius: 10px;
    padding: 40px 30px 70px;
    margin: 5px;
    width: 100%;
    max-width: 400px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    margin-bottom: 30px;
}
input, button{
    background: transparent;
    padding: 12px 18px;
    border: none;
    font-size: 15px;
}
input:focus, button:focus{
    outline: none;
}
button{
    background: #43dd06;
    border-top-right-radius: 30px ;
    border-bottom-right-radius: 30px;
    cursor: pointer;
}

ul li{
   list-style: none;
   font-size: 17px;
   padding: 12px 8px 12px 50px;
   user-select: none;
   cursor: pointer;
   position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 8px;
    top: 8px;
}
.checked{
    color: #555;
    text-decoration: line-through;
    
}
.checked::before{ 
    background-image: url(images/checked.png);
} 
span{
    position: absolute;
    top: 9px;
    right: 5px;
    font-size: 25px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding-top: 1.5px;
}
span:hover{
    background-color: #dce4d9;
}

@media (max-width:600px){
    .todo-app{
        width: 100%;
        max-width: 320px;
        padding:15px 0;
        margin: 0 5px;
    }
    .row{
    justify-content: center;
    background-color: transparent;
    }
    input, button{
    padding: 10px 10px;
    border: none;
    font-size: 15px;
    }
}
